<div id="header">
    <h1>Blog</h1>
</div>

<nav>
    {{#linkTo "index"}}Home{{/linkTo}}
    {{#linkTo "posts"}}Posts{{/linkTo}}
    {{#linkTo "about"}}About{{/linkTo}}
</nav>

<div id="content">
    {{outlet}}
</div>

<div id="footer">
</div>