<h2>Posts {{subtitle}}</h2>

<div id="posts">
    {{!--debugger --}}
    <ul>
    {{#each post in controller}}
        {{view EmberBlog.PostInListView contentBinding="post"}}
    {{else}}
        Sorry, no posts to display
    {{/each}}
    </ul>
</div>